.grocery-item-container {
    width: 270px;
    height: 400px;
    border-radius: 9px;
    border: 1px solid lightgrey;
    padding: 10px;
    margin: 15px;
}

.organic-indicator {
    width: 35px;
    height: 35px;
}

.grocery-item-image-container {
    height: 200px;
}

.grocery-detail {
    align-items: center;
    width: 80%;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;

    p {
    margin: 0;
    text-transform: uppercase;
    color: grey;
    font-size: 12px;
    }
}

.grocery-item-image {
    height: 100%;
}

.grocery-item-name {
    margin: 10px;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
}

.grocery-item-button {
    background-color: #F76C5E;
    color: white;
    margin: 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    border-radius: 9px;
}

.grocery-item-button:hover {
    background-color: #c65146;
}