#stats-container {
    width: 100%;
    background: white;
    justify-content: space-between;
}

.stat {
    margin: 10px 80px;
    color: grey;
}

.stat-total {
    margin-left: 10px;
    font-size: 25px;
}