#view-links-container {
    background: #f7f7f2;
    color: #676d67;
}

.view-link {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

.view-link:hover {
    color: #ed7d3a;
    cursor: pointer;
}