#navbar-container {
    width: 100%;
}

#mygroceries-title-text {
    font-family:'Courier New', Courier, monospace;
    color: #ed7d3a;
    font-size: 40px;
}

.navbar-section {
    width: 33%;
}

.navbar-icon {
    width: 30px;
    margin: 0 20px;
}