#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif
}

body {
  background-color: #e8eddf;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.flex-evenly {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.uppercase {
  margin: 0;
  text-transform: uppercase;
}